*{
    transition: all .3s;
}
body{
    background-color: lightskyblue;
}
#two_colors{

}
.clrs{
    width: 50px;
    height: 20px;
    display: inline-block;
}
#all_tv [id*=tv_]{
    display: inline-block;
    width: 50px;
    height: auto;
    margin: 10px;
}
#all_tv [id*=tv_]:hover{
    transform: scale(1.1);
}
#all_tv h3{
    text-align: center;
}
#all_tv img{
    width: 50px;
    height: auto;
}
.red{
    background-color: red !important;
}
[class*=green]{
    background-color: lightgreen;
}
[id*=idtv_]{
    font-size: 15px;
    color: white;
    font-family: Calibri serif;
}